<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.collection_select :player_ids, players, :id, :name, {}, { multiple: true, 'style' => 'height:200px' }%>
  </div>
  <div class="actions">
    <%= f.submit class: 'button expand' %>
  </div>
<% end %>
