<%= form_for(@match, remote: true) do |f| %>
    <% if @match.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

          <ul>
            <% @match.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
	<div class="speechinput">
	</div>
	<br>
    <div class="field">
		<% @home_players = home_players %>
		<% @away_players = away_players %>
		<% @winodds_array = winodds(@home_players, @away_players)%>
		<% if @winodds_array == nil %>
			<% @winodds_array = ["TBA", "TBA"]%>
		<% end %>
  	  <div id="home_players">
  	  	<%= @home_players[0] + " " + @home_players[1]%>
      </div>
	  <div id="home_team">
      	<%= f.label home %>
      </div>
      <%= f.hidden_field :team_ids, :value => @team_one, :multiple => true %> <%= random_team %><br> <%= @winodds_array[0] %><br>
      <%= f.number_field :home %><br>
	  
    </div>
    <div class="field">
      <div id="away_players">
      	<%= @away_players[0] + " " + @away_players[1]%>
      </div>
	  <div id="away_team">
      	<%= f.label away %>
      </div>
      <%= f.hidden_field :team_ids, :value => @team_two, :multiple => true %> <%= random_team %><br> <%= @winodds_array[1] %><br>
      <%= f.number_field :away %>
	  <div id="checkdiv">
      2x <%= f.check_box(:bet,:value=>1) %>
  </div>
    </div>
    <div class="actions">
      <%= f.submit class: 'button expand' %>
    </div>
<% end %>
