<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @achievement.player %>
</p>

<p>
  <strong>Type:</strong>
  <%= @achievement.type %>
</p>

<%= link_to 'Edit', edit_achievement_path(@achievement) %> |
<%= link_to 'Back', achievements_path %>
